@import 'font-awesome/scss/font-awesome';
$fa-font-path:   "../bower_components/font-awesome/fonts";
/*$FontAwesomePath: '../bower_components/font-awesome/fonts'; */


/* app css stylesheet */

body {
  background: #f6f5f5;
}

article {
/*  border: 0px solid #c4c4c4;*/
  padding: 5px;
  margin: 0 5px 0 0;
  background: #fffafa;

  border-width: 1px;
  border-style:solid;
  border-bottom-color:#bbb;
  border-right-color:#bbb;
  border-top-color:#ddd;
  border-left-color:#ddd;
  border-radius:  7px;
  -moz-border-radius: 7px;
  -webkit-border-radius:  7px;
  display: inline-block;

}

#header {
  color: #000000;
  padding-bottom: 7px;
  border-bottom: 1px solid #504f4f;
}

.sideMenu {
  display: inline-block;

  height: 200px;
  margin: 0 5px 0 0;
  padding: 0;
}

.sideMenu .mainMenu, .sideMenu .moveMenu {
  padding: 5px;
  background: #fffafa;
  margin: 0;

  border-width: 1px;
  border-style:solid;
  border-bottom-color:#bbb;
  border-right-color:#bbb;
  border-top-color:#ddd;
  border-left-color:#ddd;
  border-radius:  7px;
  -moz-border-radius: 7px;
  -webkit-border-radius:  7px;  
}

.sideMenu .moveMenu {
  margin-top: 10px;
}
.sideMenu .btn {
  text-size: 10px;
  width: 65px;
}

.attemptCount {
  margin-left: 6px;
}

header h1 {
  font-size: 40px;
  text-align: center;
}
#menuButton, #homeButton {
  padding: 2;
  margin: 0;
  border: 0;
}

#stats {
  border: 1px solid red;
  border: 0;
  margin: 0;
  padding: 0;
  clear: both;
}

#positions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#positions > li {
  list-style: none;
  margin: 2px;
  padding: 0;
}

#tags {
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0;
}

#tags > li {
  display: inline;
  margin: 2px;
  padding: 0;
}

#moveNavigation {
  margin: 0 auto;
  height: 40px;
  width: 180px;
  display: block;
}

#moveNavigation a {
    color: #FFFFFF;
    text-decoration: none;
}

.stepCount {
  margin-left: 5px;
}

.countColumn {
  width: 80px;
}

/* mobile settings
@media only screen and (max-device-width: 480px) {
  article {
    width: 400px;
  }}

/* browser settings */
@media only screen and (min-width: 800px) {
  article {
    width: 500px;
  }
}

.stats {
  clear: both;
  padding-top: 20px;
}

.stats2 > ol {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.stats2 > ol > li {
  width: 200px; height: 30px;
  border: 1px solid red;
  margin: 5px;
}

.stats2 > ol > li > ul {
/*  display: inline;*/
}
.stats2 li {
  list-style: none;
  display: inline-flex;
}