<article>
  <navigation id="header">
    <a id="menuButton" href="#/move" class="btn btn-small"><i class="icon-list"></i></a>
    <a id="favouriteButton" href="#" class="btn btn-small disabled"><i class="icon-star-empty"></i></a>
    <h1>(#{{movesModel.currentMoveIndex}}) {{movesModel.currentMove.title}}</h1>
  </navigation>

  <ol id="positions">
    <li><a href="#/search/start/{{movesModel.currentMove.start}}">{{movesModel.currentMove.start}}</a></li>
    <li><a href="#/search/finish/{{movesModel.currentMove.finish}}">{{movesModel.currentMove.finish}}</a></li>
  </ol>

  <ul id="tags">
    <li ng-repeat="tag in movesModel.currentMove.tags"><a href="#/search/tags/{{tag.tag}}">{{tag.tag}}</a></li>
  </ul>

  <table class="table table-bordered table-striped table-hover" id="#steps">
    <colgroup id="count" class="countColumn"></colgroup>
    <colgroup id="step" class="stepColumn"></colgroup>
    <thead>
      <tr>
        <td>#</td>
        <td>step</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="step in movesModel.currentMove.steps">
        <td>
          <span ng-repeat="singleCount in step.count" class="stepCount badge badge-info">
            {{singleCount}}
          </span>
        </td>
        <td>{{step.step}}</td>
      </tr>
    </tbody>
  </table>

    <navigation id="moveNavigation">
    <a href="#/move/{{movesModel.previousMoveIndex}}" class="btn btn-small"><i class="icon-arrow-left"></i></a>
    <a href="#/move/{{movesModel.currentMoveIndex}}/completed" class="btn btn-small"><i class="icon-ok"></i></a>
    <a href="#/move/{{movesModel.currentMoveIndex}}/failed" class="btn btn-small"><i class="icon-remove"></i></a>
    <a href="#/move/{{movesModel.nextMoveIndex}}" class="btn btn-small"><i class="icon-arrow-right"></i></a>
  </navigation>
</article>
