<article>
  <navigation id="header">
    <a id="menuButton" href="#/tip" class="btn btn-small"><i class="icon-list icon-large"></i></a>
    <a id="favouriteButton" href="#" class="btn btn-small disabled"><i class="icon-star-empty icon-large"></i></a>
    <h1>(#{{tipsModel.currentTipIndex}}) {{tipsModel.currentTip.title}}</h1>
  </navigation>


  <ul id="tags">
    <li ng-repeat="tag in tipsModel.currentTip.tags"><a href="#/search/tags/{{tag.tag}}">{{tag.tag}}</a></li>
  </ul>

  <p>{{tipsModel.currentTip.comment}}</p>

   <navigation id="tipNavigation">
    <a href="#/tip/{{tipsModel.previousTipIndex}}" class="btn btn-small"><i class="icon-arrow-left icon-large"></i></a>
    <a href="#/tip/{{tipsModel.currentTipIndex}}/completed" class="btn btn-small"><i class="icon-ok icon-large"></i></a>
    <a href="#/tip/{{tipsModel.currentTipIndex}}/failed" class="btn btn-small"><i class="icon-remove icon-large"></i></a>
    <a href="#/tip/{{tipsModel.nextTipIndex}}" class="btn btn-small"><i class="icon-arrow-right icon-large"></i></a>
  </navigation>
</article>
