/* app css stylesheet */

body {
  background: #088A4B;
}

article {
  border: 0px solid #c4c4c4;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px; 
  -moz-border-radius: 10px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background: #fff7f7;
}

navigation {
  color: #000000;
}

navigation > h1 {
    color: #504f4f;
    text-shadow: 0px 2px 1px #bbbaba;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    line-height: 1;
}

#header a {
    color: #504f4f;
    text-decoration: none;
}


#menuButton {
  float:left;
}

#favouriteButton {
  float:right;
}
#positions {
  list-style: none;
  clear: both;
  margin: 0;
}

#positions > li {
  display: inline;
}

#positions > li:nth-child(1):before {
  content: "start: ";
  padding: 0;
}

#positions > li:nth-child(2):before {
  content: "finish: ";
  padding: 0;
}


#tags {
  list-style: none;
  padding: 0 0 0.5em;
  margin: 0;
}

#tags:before {
  content: "[";
}

#tags:after {
  content: "]";
}

#tags > li {
  display: inline;
}

#tags > li:before {
  content: " |";
  padding-right: 0.3em;
}

#tags > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#moveNavigation {
  margin: 0 auto;
  height: 40px;
}

#moveNavigation a {
    color: #FFFFFF;
    text-decoration: none;
}

.stepCount {
  margin-left: 5px;
}

.countColumn {
  width: 80px;
}

/* mobile settings
@media only screen and (max-device-width: 480px) {
}

/* browser settings */
@media only screen and (min-width: 800px) {
  article {
    width: 500px;
    margin: 0 auto;
  }
}