<navigation class="sideMenu">
  <div class="mainMenu">
    <ul class="nav nav-pills">
      <li class="active"><a>Move</a></li>
      <li><a>Tip</a></li>
    </ul>
  </div>
  <div class="moveMenu">
    <div class="btn-group">
      <a ng-click="moveSucceeded()" class="btn btn-success btn-small"><span class="glyphicon glyphicon-thumbs-up"></span><span class="attemptCount">4</span></a>
      <a ng-click="moveFailed()" class="btn btn-warning btn-small"><span class="glyphicon glyphicon-thumbs-down"></span><span class="attemptCount">3</span></a>
      <a ng-click="randomMove()" class="btn btn-primary btn-small"><span class="glyphicon glyphicon-random"></span></a>
    </div>
  </div>
</navigation>


<article ng-swipe-left="randomMove()" ng-swipe-right="randomMove()">
  <header>
    <h1>{{move.title}}</h1>
  <header> 

  <div class="stats">
    <ol class="positions">
      <li>Start:
        <ul>
          <li>open</li>
          <li>6 beat</li>
        </ul>
      </li>
      <li>Finish:
        <ul>
          <li>closed</li>
          <li>tandem charlestom</li>
        </ul>
      </li>
    </ol>
  </div>

    <!--
    <ul id="tags">
      <li ng-repeat="tag in move.tags"><a href="#/search/tags/{{tag.tag}}">{{tag.tag}}</a></li>
    </ul>-->

  </div>

<!--     <steps-row ng-repeat="step in move.steps">
 -->
   <table class="table table-bordered table-striped table-hover" id="#steps">
    <colgroup id="count" class="countColumn" colspan="2"></colgroup>
    <colgroup id="step" class="stepColumn"></colgroup>
    <thead>
      <tr>
        <td>#</td>
        <td>step</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="step in move.steps">{{step.step.description}} {{step || json}} {{beatsCount}} 
        <td>{{step.beatsCount}}
          <div style="display:none" ng-repeat="beat in step.beats track by $index">
            <div>{{beat}}</div>
          </div>
        </td>
        <td>{{step.description}}</td>
      </tr>
    </tbody>
  </table>
</article>
