<article>
  <navigation id="header">
    <a id="homeButton" href="#/" class="btn btn-small"><i class="glyphicon glyphicon-home"></i></a>
    <a id="menuButton" href="#/move" class="btn btn-small"><i class="glyphicon glyphicon-th-list"></i></a>
    <h1>(#{{movesModel.currentMoveIndex + 1}}) {{movesModel.currentMove.title}}</h1>
  </navigation>

  <div id="stats">
    <ol id="positions">
      <li><a href="#/search/start/{{movesModel.currentMove.start}}">{{movesModel.currentMove.start}}</a></li>
      <li><a href="#/search/finish/{{movesModel.currentMove.finish}}">{{movesModel.currentMove.finish}}</a></li>
    </ol>

    <!--
    <ul id="tags">
      <li ng-repeat="tag in movesModel.currentMove.tags"><a href="#/search/tags/{{tag.tag}}">{{tag.tag}}</a></li>
    </ul>-->

  </div>

  <steps-table steps="movesModel.currentMove.steps"></steps-table>

  <navigation id="moveNavigation">
    <a href="#/move/{{movesModel.previousMoveIndex}}" class="btn btn-primary btn-small"><i class="icon-arrow-left icon-large glyphicon glyphicon-arrow-left"></i></a>
    <a href="#/move/{{movesModel.currentMoveIndex}}/completed" class="btn btn-success btn-small"><i class="icon-ok icon-large glyphicon glyphicon-thumbs-up"></i></a>
    <a href="#/move/{{movesModel.currentMoveIndex}}/failed" class="btn btn-warning btn-small"><i class="icon-remove icon-large glyphicon glyphicon-thumbs-down"></i></a>
    <a href="#/move/{{movesModel.nextMoveIndex}}" class="btn btn-primary btn-small"><i class="icon-arrow-right icon-large glyphicon glyphicon-arrow-right"></i></a>
  </navigation>
</article>
